@charset "UTF-8";
body {
  background-color: rgb(209, 243, 230);
}

a {
  text-decoration: none;
  color: rgb(33, 164, 164);
}

.button {
  background-color: rgb(84, 176, 190);
  color: rgb(253, 253, 253);
  border-radius: 30px;
  padding: 20px;
  cursor: pointer;
}

a:hover, .button:hover {
  opacity: 0.5;
}

/* ヘッダー */
header {
  background-color: rgb(98, 213, 134);
  border-bottom: 5px solid rgb(79, 168, 107);
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  position: sticky;
}
header .logo {
  width: 100px;
  margin: 0px 0px 0px 100px;
}
header .main-nav {
  margin: 40px;
  list-style: none;
  display: flex;
}
header .main-nav li {
  padding-right: 50px;
}
header .main-nav a {
  color: rgb(253, 253, 253);
  font-weight: bold;
}

/* スタート */
.start {
  margin: 50px;
  text-align: center;
}
.start img {
  width: 700px;
}
.click {
  display: none;
}

/* 地図 */
.map {
  margin: 50px 0px 100px;
}
.map .map-center {
  text-align: center;
}
.map .nippon img {
  position: relative;
}
.map h1, .map .nattoman, .map .nattomini1, .map .ito1, .map .nattomini2, .map .ito2, .map .nattomini3, .map .ito3 {
  position: absolute;
}
.map h1 {
  top: 200px;
  left: 300px;
  font-size: 2.5rem;
  font-weight: lighter;
}
.map .nattoman {
  top: 300px;
  left: 300px;
}
.map .nattoman p {
  margin-bottom: 10px;
}
.map .nattoman .fukidashi {
  position: relative;
  width: 270px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  background-color: floralwhite;
  border-radius: 50%;
  box-sizing: border-box;
}
.map .nattoman .fukidashi:before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 40%;
  margin-left: -12px;
  border: 12px solid transparent;
  border-top: 12px solid floralwhite;
  z-index: 0;
}
.map .nattoman img {
  width: 150px;
  margin-right: 20px;
}
.map .nattomini1, .map .nattomini2, .map .nattomini3 {
  width: 70px;
}
.map .ito1, .map .ito2, .map .ito3 {
  width: 100px;
}
.map .nattomini1 {
  top: 300px;
  left: 100px;
}
.map .ito1 {
  top: 400px;
  left: 120px;
  transform: rotate(-20deg);
}
.map .nattomini2 {
  top: 650px;
  left: 750px;
}
.map .ito2 {
  top: 600px;
  left: 950px;
  transform: rotate(50deg);
}
.map .nattomini3 {
  top: 550px;
  left: 1150px;
}
.map .ito3 {
  top: 400px;
  left: 1250px;
  transform: rotate(20deg);
}

/* 一覧 */
.side-index {
  display: flex;
}
.side-index .side {
  width: 300px;
  height: 1000px;
  margin-left: 100px;
  position: sticky;
  top: 100px;
  left: 100px;
  padding-top: 100px;
}
.side-index .side .side-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: -moz-fit-content;
  width: fit-content;
}
.side-index .side .side-nav .button {
  width: 200px;
  display: inline-flex;
  background-color: floralwhite;
  color: black;
  border-radius: 20px;
  border: 1.5px solid;
}
.side-index .side .side-nav ul {
  list-style: none;
  display: none;
}
.side-index .side ul.side-nav li:hover ul {
  display: block;
}
.side-index .side ul.side-nav li:hover ul .button {
  font-size: 15px;
  padding: 2px 30px;
  border: 0.5px solid;
}
.side-index .index {
  margin: 100px;
}
.side-index .index h2 {
  font-weight: lighter;
}
.side-index .index .home {
  margin: 50px 0px 0px;
  padding: 50px 0px 0px;
  border-top: solid rgba(188, 195, 51, 0.948);
}
.side-index .index .home h3 {
  margin-bottom: 50px;
}
.side-index .index .home .item {
  margin-top: 50px;
}
.side-index .index .home .item h4 img {
  width: 20px;
  padding-right: 5px;
}
.side-index .index .home .item p {
  margin-top: 20px;
}
.side-index .index .home .item .content {
  display: flex;
}
.side-index .index .home .item .content img {
  width: 150px;
  margin: 20px 50px 0px 0px;
}
.side-index .index .home .item .content p {
  float: left;
}
.side-index .index .home .item .content a {
  float: left;
  margin-top: 30px;
  border: dotted;
  padding: 10px;
}

/* 詳細 */
.index-show h2 {
  margin: 100px 0px 0px 100px;
}
.index-show .item-show {
  overflow-wrap: anywhere;
  margin: 50px 100px 100px;
  padding: 50px 0px;
  border-top: solid rgba(188, 195, 51, 0.948);
}
.index-show .item-show h2 {
  margin: 50px 0px 20px;
}
.index-show .item-show .left-right {
  display: flex;
}
.index-show .item-show .left-right .left p {
  width: 500px;
}
.index-show .item-show .left-right .left img {
  width: 500px;
  margin-top: 50px;
}
.index-show .item-show .left-right .right {
  float: left;
  margin-left: 100px;
}
.index-show .item-show .left-right .right h3 {
  margin: 50px 0px;
}
.index-show .item-show .left-right .right p {
  margin-top: 20px;
}
.index-show .item-show .left-right .right p img {
  width: 20px;
  padding-right: 5px;
}
.index-show .item-show .review-show {
  margin-top: 50px;
  background-color: floralwhite;
  border-radius: 20px;
  padding: 20px;
}

/* 診断 */
.matching1, .matching2, .matching3, .matching4, .match {
  text-align: center;
  margin: 100px 100px 500px;
}

.matching1 h4, .matching2 h4, .matching3 h4, .matching4 h4 {
  margin: 50px 0px 100px;
}
.matching1 h3, .matching2 h3, .matching3 h3, .matching4 h3 {
  margin-bottom: 20px;
}
.matching1 ul, .matching2 ul, .matching3 ul, .matching4 ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
}
.matching1 ul li, .matching2 ul li, .matching3 ul li, .matching4 ul li {
  margin: 30px;
}
.matching1 ul li .button, .matching2 ul li .button, .matching3 ul li .button, .matching4 ul li .button {
  width: 300px;
  padding: 80px;
  border-radius: 100px;
  font-size: 25px;
  background-color: rgb(38, 217, 217);
}
.matching1 img, .matching2 img, .matching3 img, .matching4 img {
  width: 70px;
}

.matching1 {
  position: relative;
}
.matching1 .nattomini1, .matching1 .ito1, .matching1 .nattomini2, .matching1 .ito2, .matching1 .nattomini3, .matching1 .ito3 {
  position: absolute;
}
.matching1 .nattomini1 {
  top: 150px;
  left: 20px;
}
.matching1 .ito1 {
  top: 300px;
  left: 70px;
  transform: rotate(-20deg);
}
.matching1 .nattomini2 {
  top: 570px;
  left: 400px;
}
.matching1 .ito2 {
  top: 600px;
  left: 650px;
  transform: rotate(70deg);
}
.matching1 .nattomini3 {
  top: 400px;
  left: 1100px;
}
.matching1 .ito3 {
  top: 200px;
  left: 1200px;
  transform: rotate(20deg);
}

.matching2 {
  position: relative;
}
.matching2 .nattomini1, .matching2 .ito1, .matching2 .nattomini2, .matching2 .ito2, .matching2 .nattomini3, .matching2 .ito3 {
  position: absolute;
}
.matching2 .nattomini1 {
  top: 150px;
  left: 20px;
}
.matching2 .ito1 {
  top: 300px;
  left: 70px;
  transform: rotate(-20deg);
}
.matching2 .nattomini2 {
  top: 570px;
  left: 400px;
}
.matching2 .ito2 {
  top: 600px;
  left: 650px;
  transform: rotate(70deg);
}
.matching2 .nattomini3 {
  top: 400px;
  left: 1100px;
}
.matching2 .ito3 {
  top: 200px;
  left: 1200px;
  transform: rotate(20deg);
}

.matching3 {
  position: relative;
}
.matching3 .nattomini1, .matching3 .ito1, .matching3 .nattomini2, .matching3 .ito2, .matching3 .nattomini3, .matching3 .ito3 {
  position: absolute;
}
.matching3 .nattomini1 {
  top: 150px;
  left: 20px;
}
.matching3 .ito1 {
  top: 300px;
  left: 70px;
  transform: rotate(-20deg);
}
.matching3 .nattomini2 {
  top: 570px;
  left: 400px;
}
.matching3 .ito2 {
  top: 600px;
  left: 650px;
  transform: rotate(70deg);
}
.matching3 .nattomini3 {
  top: 400px;
  left: 1100px;
}
.matching3 .ito3 {
  top: 200px;
  left: 1200px;
  transform: rotate(20deg);
}

.matching4 {
  position: relative;
}
.matching4 .nattomini1, .matching4 .ito1, .matching4 .nattomini2, .matching4 .ito2, .matching4 .nattomini3, .matching4 .ito3 {
  position: absolute;
}
.matching4 .nattomini1 {
  top: 150px;
  left: 20px;
}
.matching4 .ito1 {
  top: 300px;
  left: 70px;
  transform: rotate(-20deg);
}
.matching4 .nattomini2 {
  top: 570px;
  left: 400px;
}
.matching4 .ito2 {
  top: 600px;
  left: 650px;
  transform: rotate(70deg);
}
.matching4 .nattomini3 {
  top: 400px;
  left: 1100px;
}
.matching4 .ito3 {
  top: 200px;
  left: 1200px;
  transform: rotate(20deg);
}

.match div {
  margin: 50px 0px;
}
.match div img {
  width: 500px;
  margin: 20px 0px 50px;
}
.match div a {
  border: dotted;
  padding: 20px;
}
.match .anim {
  display: none;
}

/* マイページ */
.mypage {
  text-align: center;
  margin: 100px;
}
.mypage .user img {
  width: 150px;
}
.mypage .user h2 {
  margin: 20px 0px;
}
.mypage .nattobox, .mypage .cardbox {
  margin-top: 100px;
  padding-top: 100px;
  border-top: solid rgba(188, 195, 51, 0.948);
}
.mypage .nattobox h3, .mypage .cardbox h3 {
  margin-bottom: 50px;
}
.mypage .nattobox p, .mypage .cardbox p {
  margin-bottom: 20px;
}
.mypage .nattobox ul, .mypage .cardbox ul {
  margin: 50px auto;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 1000px;
}
.mypage .nattobox ul li, .mypage .cardbox ul li {
  margin: 20px;
}
.mypage .nattobox ul li img, .mypage .cardbox ul li img {
  width: 200px;
}
.mypage .nattobox .discript {
  margin: 50px 100px;
  color: rgb(138, 139, 132);
}

/* 登録、編集、ログイン */
.review, .profile, .login {
  text-align: center;
  margin: 100px;
}
.review form, .profile form, .login form {
  margin: 50px;
}
.review form div, .profile form div, .login form div {
  margin-bottom: 50px;
}
.review label, .profile label, .login label {
  margin-bottom: 20px;
  display: block;
}
.review input[type=text], .review textarea, .profile input[type=text], .profile textarea, .login input[type=text], .login textarea {
  background: rgba(255, 255, 255, 0.5);
  border: 1px #a8a2a2 solid;
  border-radius: 5px;
  padding: 10px;
}
.review input[type=text], .profile input[type=text], .login input[type=text] {
  width: 100%;
  max-width: 500px;
}
.review input[type=image], .profile input[type=image], .login input[type=image] {
  width: 200px;
}
.review textarea, .profile textarea, .login textarea {
  width: 100%;
  max-width: 500px;
  height: 10rem;
}

.login a {
  margin-bottom: 50px;
  display: block;
}

/* 知識 */
.cardshow {
  margin: 50px;
  text-align: center;
}
.cardshow .card {
  margin: 0 auto;
  margin-bottom: 50px;
  background-color: rgb(224, 224, 253);
  border-radius: 10px;
  width: 600px;
  height: 600px;
  padding: 50px;
  display: none;
}
.cardshow .card p {
  margin-bottom: 20px;
}
.cardshow .card img {
  width: 400px;
}
.cardshow .backtomypage {
  margin-bottom: 100px;
}
.cardshow .backtomypage a {
  border: solid;
  border-radius: 30px;
  padding: 20px;
}

/* レシピ、参考 */
.recipe, .pull {
  margin: 100px 200px;
}
.recipe ul, .pull ul {
  margin-top: 50px;
}
.recipe ul li, .pull ul li {
  margin-bottom: 20px;
}

/* レスポンシブ *//*# sourceMappingURL=stylesheet.css.map */
