@charset "UTF-8";
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: rgb(209, 243, 230);
}
p {
  margin-bottom: 5px;
}
a {
  text-decoration: none;
  color: rgb(33, 164, 164);
}
.button {
  background-color: rgb(84, 176, 190);
  color: rgb(253, 253, 253);
  border-radius: 30px;
  padding: 20px;
  cursor: pointer;
}
a:hover, .button:hover {
  opacity: 0.5;
}

/* ヘッダー */
header {
  background-color: rgb(98, 213, 134);
  border-bottom: 5px solid rgb(79, 168, 107);
  display: flex;
  justify-content: space-between;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  position: sticky;
}
header .logo {
  width: 100px;
  margin: 0 0 0 100px;
}
header .main-nav {
  margin: 40px;
  list-style: none;
  display: flex;
}
header .main-nav li {
  padding-right: 50px;
}
header .main-nav a {
  color: rgb(253, 253, 253);
  font-weight: bold;
}

/* スタート */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.fade-in {
  animation: fadeIn 5s ease-out;
  opacity: 0;
}

.startin {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
}
.start img {
  width: 700px;
}
.click {
  position: absolute;
  top: 57%;
  left: 67%;
}
.click img {
  width: 200px;
}

/* 説明 */
.top .map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  z-index: 1;
}
.top .title {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 2;
}
.top .title h1 {
  font-size: 5rem;
  letter-spacing: 7px;
}
.top .nattoman img {
  position: absolute;
  top: 13%;
  left: 22%;
  width: 130px;
  opacity: 0.3;
}
.top .map-center {
  width: 486px;
  height: auto;
  opacity: 0.3;
}
.top .nattomini-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}
.top .nattomini {
  position: absolute;
  width: 60px;
}
.top .ito {
  position: absolute;
  width: 80px;
}
.top .nattomini1 {
  top: 25%;
  left: 5%;
}
.top .ito1 {
  top: 43%;
  left: 7%;
  transform: rotate(-20deg);
}
.top .nattomini2 {
  top: 90%;
  left: 40%;
}
.top .ito2 {
  top: 80%;
  left: 55%;
  transform: rotate(30deg);
}
.top .nattomini3 {
  top: 45%;
  right: 3%;
}
.top .ito3 {
  top: 63%;
  right: 8%;
  transform: rotate(15deg);
}
.about {
  margin: 100px;
  position: relative;
}
.about h2 img {
  width: 30px;
  margin: 0 10px 0 0;
}
.aboutp {
  margin: 50px 250px 0 150px;
}
.about .nattomini-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.about .nattomini {
  position: absolute;
  width: 60px;
}
.about .ito {
  position: absolute;
  width: 80px;
}
.about .nattomini1 {
  top: 40%;
  left: 2%;
}
.about .ito1 {
  top: 70%;
  left: 0;
  transform: rotate(-20deg);
}
.about .nattomini2 {
  top: 10%;
  left: 85%;
}
.about .ito2 {
  top: 30%;
  left: 85%;
  transform: rotate(-20deg);
}
.about .nattokyara img {
  width: 200px;
  height: auto;
  position: absolute;
  top: 65%;
  right: 5%;
}
.manual {
  margin: 100px;
  position: relative;
}
.manual h2 img {
  width: 30px;
  margin: 0 10px 0 0;
}
.manual .page {
  margin: 30px 0 20px 200px;
}
.manual .left-right {
  margin-top: 20px;
  display: flex;
  gap: 40px;
}
.manual .left-right img {
  width: 200px;
  height: 200px;
}
.manual .nattomini-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.manual .nattomini {
  position: absolute;
  width: 60px;
}
.manual .ito {
  position: absolute;
  width: 80px;
}
.manual .nattomini1 {
  top: 15%;
  left: 5%;
}
.manual .ito1 {
  top: 30%;
  left: 0;
  transform: rotate(-20deg);
}
.manual .nattomini2 {
  top: 50%;
  left: 5%;
}
.manual .ito2 {
  top: 65%;
  left: 0;
  transform: rotate(-20deg);
}
.manual .nattokyara img {
  width: 200px;
  height: auto;
  position: absolute;
  top: 85%;
  left: 0;
}
.last {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  z-index: 1;
  overflow: hidden;
}
.last::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../image/fuwa.png');
  background-size: 700px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
  z-index: -1;
}
.last .title {
  position: absolute;
  display: flex;
  text-align: center;
  z-index: 2;
}
.last h2 {
  font-size: 1.9rem;
}
.last .nattomini-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.last .nattomini {
  position: absolute;
  width: 60px;
}
.last .ito {
  position: absolute;
  width: 80px;
}
.last .nattomini1 {
  top: 25%;
  left: 3%;
}
.last .ito1 {
  top: 43%;
  left: 5%;
  transform: rotate(-20deg);
}
.last .nattomini2 {
  top: 45%;
  left: 88%;
}
.last .ito2 {
  top: 63%;
  left: 85%;
  transform: rotate(15deg);
}
.last .click {
  width: 200px;
  height: auto;
  position: absolute;
  top: 70%;
  right: 10%;
  z-index: 2;
}

/* 地図 */
.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
}
.map-left {
  position: absolute;
  top: 13%;
  left: 22%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}
.map-left h1 {
  font-size: 2.2rem;
  margin-bottom: 40px;
}
.nattoman {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.nattoman .fukidashi {
  width: 200px;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  background-color: floralwhite;
  border-radius: 50px;
  padding: 15px 10px;
  position: relative;
}
.nattoman .fukidashi:before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 60px;
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid floralwhite;
  z-index: 0;
}
.nattoman img {
  width: 130px;
}
.map-center {
  width: 486px;
  height: auto;
}
.map-center img.nippon {
  width: 100%;
  height: auto;
  display: block;
}
.map-center map area {
  cursor: pointer;
  outline: none;
}
.nattomini-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.nattomini {
  position: absolute;
  width: 60px;
}
.ito {
  position: absolute;
  width: 80px;
}
.nattomini1 {
  top: 25%;
  left: 5%;
}
.ito1 {
  top: 43%;
  left: 7%;
  transform: rotate(-20deg);
}
.nattomini2 {
  top: 90%;
  left: 40%;
}
.ito2 {
  top: 80%;
  left: 55%;
  transform: rotate(30deg);
}
.nattomini3 {
  top: 45%;
  right: 3%;
}
.ito3 {
  top: 63%;
  right: 8%;
  transform: rotate(15deg);
}

/* 一覧 */
.side-index {
  margin: 0;
}
.side-index .side {
  position: sticky;
  top: 100px;
  background-color: rgb(90, 180, 120);
  z-index: 5;
  width: 100%;
  padding: 0;
  margin: 0;
}
.side-index .side .side-nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.side-index .side .side-nav li {
  flex-grow: 1;
  text-align: center;
}
.side-index .side .side-nav .button {
  display: block;
  padding: 20px 0;
  background-color: rgb(90, 180, 120);
  color: black;
  border-radius: 0;
  border: 0.8px solid;
  width: 100%;
  box-sizing: border-box;
}
.side-index .side .side-nav ul {
  list-style: none;
  display: none;
  position: absolute;
  background-color: rgb(90, 180, 120);
  margin: 0;
  padding: 0;
}
.side-index .side ul.side-nav li {
  position: relative;
}
.side-index .side ul.side-nav li:hover ul {
  display: block;
  width: 100%;
}
.side-index .side ul.side-nav li:hover ul .button {
  font-size: 12px;
  text-align: left;
  flex-grow: 1;
  padding: 3px 20px;
  border: 0.5px solid;
  background-color: rgb(90, 180, 120);
  width: 100%;
}
.side-index .side ul.side-nav li:hover ul li {
  margin: 0;
  padding: 0;
}
.side-index .side ul.side-nav li:hover ul li a {
  padding: 3px 20px;
  margin: 0;
  display: block;
}
.side-index .index {
  margin: 50px 100px;
}
.side-index .index h2 {
  margin-bottom: 10px;
}
.side-index .index .home {
  margin: 30px 0 0;
  padding: 30px 0 0;
  border-top: solid rgba(188, 195, 51, 0.948);
}
.side-index .index .home h3 {
  font-size: 1.3rem;
}
.side-index .index .home .item {
  margin-top: 40px;
}
.side-index .index .home .item h4 img {
  width: 23px;
  padding: 0 5px 0 0;
}
.side-index .index .home .item p {
  margin-top: 20px;
}
.side-index .index .home .item .content {
  display: flex;
}
.side-index .index .home .item .content img {
  width: 150px;
  height: 150px;
  margin: 20px 50px 0 0;
}
.side-index .index .home .item .content p {
  float: left;
}
.side-index .index .home .item .content a {
  float: left;
  margin-top: 20px;
  border: dotted;
  padding: 10px;
}

/* 詳細 */
.index-show h2 {
  margin: 50px 0 0 100px;
}
.index-show .item-show {
  overflow-wrap: anywhere;
  margin: 50px 100px 50px 100px;
  padding: 50px 0 0 0;
  border-top: solid rgba(188, 195, 51, 0.948);
}
.index-show .item-show h2 {
  margin: 50px 0 20px;
}
.index-show .item-show .left-right {
  display: flex;
}
.index-show .item-show .left p {
  width: 350px;
}
.index-show .item-show .left img {
  width: 350px;
  height: auto;
  margin-top: 30px;
}
.nakami img {
  width: 200px !important;
  margin-top: 10px;
}
.index-show .item-show .right {
  float: left;
  margin-left: 50px;
}
.index-show .item-show .right h3 {
  margin: 50px 0;
}
.index-show .item-show .right p {
  margin-top: 20px;
}
.index-show .item-show .right p img {
  width: 20px;
  padding-right: 5px;
}
.margin {
  margin-left: 25px;
}

/* 診断 */
.matching {
  display: grid;
  place-content: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.matching::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../image/card2.png');
  background-size: 550px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
  z-index: -1;
}
.matching h4 {
  margin: 30px 0 60px;
}
.matching h3 {
  margin-bottom: 40px;
}
.matching p {
  margin-bottom: 30px;
}
.matching ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.matching .button {
  display: inline-block;
  width: 270px;
  padding: 70px;
  border-radius: 120px;
  font-size: 23px;
  background-color: rgb(117, 95, 72);
}
.match {
  flex-direction: column;
}
.matching h3 {
  margin: 30px 0 20px 0;
}
.match div img {
  width: 300px;
  margin-bottom: 40px;
}
.match div a {
  border: dotted;
  padding: 20px;
}

@keyframes rotate3D {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateY(-720deg);
  }
}
.rotate {
  animation: rotate3D 2s ease-out;
  transform-origin: center;
}

/* レシピ、参考 */
.nattokyara img {
  width: 200px;
  height: auto;
  position: absolute;
  top: 27%;
  right: 15%;
}
.recipe, .pull {
  margin: 100px 150px;
  overflow-wrap: anywhere;
}
.recipe ul, .pull ul {
  list-style: none;
  margin-top: 50px;
}
.recipe ul li, .pull ul li {
  margin-bottom: 20px;
}
.recipe ul li img, .pull ul li img {
  width: 23px;
  padding-right: 5px;
}
.border {
  margin-top: 50px;
  padding-top: 50px;
  border-top: solid rgba(188, 195, 51, 0.948);
}
.osusume .mini {
  display: none;
}
.osusume ul {
  margin-top: 60px;
}
.osusumerecipe {
  margin: 30px 0 50px 10px;
}
.osusumerecipe div {
  display: flex;
}
.osusumerecipe .image {
  margin: 20px 30px 0 0;
  width: 200px;
  height: auto;
}
.osusumerecipe div p {
  margin: auto 0;
  font-size: 0.9rem;
}



/* -------------------------------------------- レスポンシブ1000px -------------------------------------------- */

@media (max-width: 1000px) {

/* スタート */
.start img {
  width: 600px;
}
.click img {
  width: 180px;
}

/* 説明 */
.about {
  margin: 70px;
}
.aboutp {
  margin: 30px 200px 0 100px;
}
.about .nattokyara img {
  width: 180px;
}
.manual {
  margin: 70px;
}
.manual .page {
  margin: 30px 0 20px 150px;
}
.manual .nattokyara img {
  width: 180px;
  left: -3%;
}
.last::before {
  background-size: 600px;
}
  
/* 地図 */
.map-left h1 {
  font-size: 2rem;
}
.nattoman img {
  width: 115px;
}

/* 一覧 */


/* 詳細 */
.index-show h2 {
  margin: 50px 0 0 70px;
}
.index-show .item-show {
  margin: 50px 70px 50px 70px;
}
.index-show .item-show .left p {
  width: 300px;
}
.index-show .item-show .left img {
  width: 300px;
}
.nakami img {
  width: 180px !important;
}
.index-show .item-show .right h3 {
  margin: 0;
}

/* 診断 */
.matching::before {
  background-size: 500px;
}
.matching .button {
  width: 250px;
  padding: 65px;
  border-radius: 100px;
  font-size: 22px;
}
.match div img {
  width: 270px;
  margin-bottom: 30px;
}
.match div a {
  padding: 18px;
}

/* レシピ、参考 */
.nattokyara img {
  top: 25%;
  right: 13%;
}
.recipe, .pull {
  margin: 70px 100px;
}

}

/* -------------------------------------------- レスポンシブ800px -------------------------------------------- */

@media (max-width: 800px) {

.button {
  border-radius: 20px;
  padding: 15px;
}

/* ヘッダー */
header {
  border-bottom: 3px solid rgb(79, 168, 107);
}
header .logo {
  width: 70px;
  margin: 5px 0 0 70px;
}
header .main-nav {
  margin: 30px;
}
header .main-nav li {
  padding-right: 40px;
}

/* スタート */
.start img {
  width: 500px;
}
.click img {
  width: 150px;
}

/* 説明 */
.top .title h1 {
  font-size: 4rem;
  letter-spacing: 5px;
}
.about {
  margin: 50px;
}
.aboutp {
  margin: 30px 170px 0 80px;
}
.about .nattokyara img {
  width: 150px;
}
.manual {
  margin: 50px;
}
.manual .page {
  margin: 30px 0 20px 120px;
}
.manual .left-right {
  display: flex;
  flex-direction: column;
}
.manual .nattokyara img {
  width: 150px;
}
.last::before {
  background-size: 550px;
}
.last h2 {
  font-size: 1.6rem;
}

/* 地図 */
.map-left h1 {
  margin-bottom: 30px;
}
.nattoman img {
  width: 100px;
}
.nattomini {
  width: 50px;
}
.ito {
  width: 70px;
}

/* 一覧 */
.side-index .side {
  top: 80px;
}
.side-index .side .side-nav .button {
  padding: 15px 0;
}
.side-index .index {
  margin: 50px 70px;
}
.side-index .index .home .item .content img {
  width: 150px;
  height: 150px;
  margin: 20px 30px 0 0;
}

/* 詳細 */
.index-show h2 {
  margin: 50px 0 0 50px;
}
.index-show .item-show {
  margin: 30px 50px 30px 50px;
  padding: 30px 0 0 0;
}
.index-show .item-show h2 {
  margin: 30px 0 15px;
}
.index-show .item-show .left p {
  width: 250px;
}
.index-show .item-show .left img {
  width: 250px;
  margin-top: 20px;
}
.nakami img {
  width: 160px !important;
}
.index-show .item-show .right {
  margin-left: 30px;
}
.index-show .item-show .right p {
  margin-top: 15px;
}

/* 診断 */
.matching::before {
  background-size: 450px;
}
.matching h3 {
  margin-bottom: 20px;
}
.matching p {
  margin-bottom: 20px;
}
.matching ul {
  gap: 20px;
}
.matching .button {
  width: 220px;
  padding: 50px;
  border-radius: 90px;
  font-size: 20px;
}
.match div a {
  padding: 15px;
}

/* レシピ、参考 */
.nattokyara img {
  width: 180px;
  top: 20%;
  right: 10%;
}
.recipe, .pull {
  margin: 50px 70px;
}
.recipe ul, .pull ul {
  margin-top: 30px;
}
.recipe ul li, .pull ul li {
  margin-bottom: 15px;
}
.pull .border {
  margin-top: 30px;
  padding-top: 30px;
}
.osusume ul {
  margin-top: 40px;
}
.osusumerecipe {
  margin: 20px 0 50px 10px;
}
.osusumerecipe .image {
  margin: 20px 20px 0 0;
  width: 150px;
}

}

/* -------------------------------------------- レスポンシブ600px -------------------------------------------- */

@media (max-width: 600px) {

/* ヘッダー */
header .logo {
  margin: 10px 0 0 50px;
}
header .main-nav {
  margin: 30px;
}
header .main-nav li {
  padding-right: 20px;
}

/* スタート */
.start img {
  width: 400px;
}
.click img {
  width: 120px;
}

/* 地図 */
.map-left {
  top: 10%;
  left: 20%;
}
.map-left h1 {
  font-size: 1.8rem;
}
.nattoman .fukidashi {
  padding: 15px 8px;
}

/* 一覧 */
.side-index .side .side-nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.side-index .side ul.side-nav li ul {
  width: 100%;
}
.side-index .side ul.side-nav li:hover ul {
  z-index: 8;
}
.side-index .side .side-nav .button {
  padding: 10px 0;
}

.side-index .index {
  margin: 50px;
}
.side-index .index .home .item .content img {
  width: 120px;
  height: 120px;
  margin: 20px 20px 0 0;
}

/* 詳細 */
.index-show h2 {
  margin: 50px 0px 0px 50px;
}
.index-show .item-show {
  margin: 20px 50px 20px 50px;
  padding: 20px 0 0 0;
}
.index-show .item-show h2 {
  margin: 20px 0 10px;
}
.index-show .item-show .left-right {
  flex-direction: column;
}
.index-show .item-show .left p {
  width: auto;
}
.index-show .image {
  display: flex;
  gap: 10px;
}
.index-show .item-show .left img {
  width: 250px;
}
.nakami img {
  width: 160px !important;
}
.index-show .item-show .right {
  margin-left: 0;
}
.index-show .item-show .right h3 {
  margin: 20px 0;
}
.index-show .item-show .right p {
  margin-top: 10px;
}

/* 診断 */
.matching::before {
  background-size: 380px;
}
.matching ul {
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

/* レシピ、参考 */
.nattokyara img {
  width: 150px;
  right: 7%;
}
.recipe, .pull {
  margin: 50px;
}
.osusume .max {
  display: none;
}
.osusume .mini {
  display: block;
}

}



/* -------------------------------------------- レスポンシブ430px -------------------------------------------- */

@media (max-width: 430px) {

/* ヘッダー */
header .logo {
  width: 50px;
  margin: 12px 0 0 15px;
}
header .main-nav {
  margin: 20px 10px 0 15px;
}
header .main-nav li {
  padding-right: 12px;
}

/* スタート */
.start img {
  width: 300px;
}
.click img {
  width: 100px;
}

/* 地図 */
.map-left {
  left: 17%;
}
.nattoman .fukidashi {
  width: 170px;
}
.nattoman img {
  width: 80px;
}
.map-center {
  width: 330px;
  height: auto;
}
.large-map {
  display: none;
}
.small-map {
  display: block;
}
.nattomini {
  width: 40px;
}
.ito {
  width: 60px;
}

/* 一覧 */
.side-index .side {
  top: 60px;
}
.side-index .index {
  margin: 50px 30px;
}

/* 詳細 */
.index-show h2 {
  margin: 50px 0 0 30px;
}
.index-show .item-show {
  margin: 20px 30px 20px 30px;
}
.index-show .item-show .left img {
  width: 170px;
}
.nakami img {
  width: 110px !important;
}

/* 診断 */
.matching::before {
  background-size: 320px;
}
.matching h4 {
  margin: 20px 0 40px;
}
.match div img {
  width: 230px;
}

/* レシピ、参考 */
.nattokyara img {
  width: 130px;
  top: 18%;
  right: 5%;
}
.osusumerecipe .image {
  margin: 20px 10px 0 0;
  width: 120px;
}

}

/*# sourceMappingURL=stylesheet.css.map */
